## Will not become relevant until the repository is public
# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: false
  autoupdate_branch: 'main'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: []
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        name: Check YAML
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: ^CHANGELOG.md$
      - id: mixed-line-ending
        exclude: ^CHANGELOG.md$
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: ^CHANGELOG.md$

  # Markdown linter to ensure the quality of the documentation
  # More information can be found in its source repository:
  # https://github.com/DavidAnson/markdownlint-cli2
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.21.0
    hooks:
      - id: markdownlint-cli2
        name: markdownlint
        exclude: ^CHANGELOG.md$
        args:
          - --fix
          - --config=.markdownlint.yaml
